<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Email </title>
</head>

<body>
    <table
        style="font-family:Roboto;max-width:800px;width:81%;border-radius:4px;margin:0 auto;border-spacing:0;background: #3b4856;display: block;">

        <tr>
            <td style="border:0;
                padding: 130px 0 180px 0px;
                background:#3b4856;
                border-spacing:0;
                text-align:center;
                background: url( 'https://portal.ownly.com.au/assets/images/img-001.jpg') no-repeat center 0;
                background-size:contain">

                <table
                    style="width:80%;margin-left:auto;margin-right:auto;border-spacing:0;border-radius:4px;background:#fff;border-radius:10px;border-spacing:0">

                    <tr>
                        <td style="padding:40px; text-align:left;">
                            <table style="width:100%; margin:0; border-spacing:0; border-spacing: 0;">
                                <tr>
                                    <td style="color:#7c888d; font-size:15px; line-height:normal; padding-bottom:20px;">
                                        Welcome to the Ownly search platform you will ever need!
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color:#7C888D; font-size:15px; line-height:normal; padding-bottom:40px;">
                                        Ownly is a multifaceted platform, that provides a search engine within the
                                        property world. A collaborative platform connecting you with tradies,
                                        architects, agencies, property managers and more all under one roof.</td>
                                </tr>
                                <tr>
                                    <td style="padding:25px;">
                                        <table
                                            style="width:100%; margin:0 auto; border:0; border-spacing:0; text-align:left;">
                                            <tr>
                                                <td
                                                    style="padding:0 0 30px;font-size:16px; color:#606382; font-weight:normal;">
                                                    <strong>Need work done on your home ?</strong></td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="font-size:16px; color:#606382; font-weight:normal; padding:0 0 20px 40px;">
                                                    <div
                                                        style="width:8px; height:8px; background:#606382; display:inline-block; border-radius:100px; margin:0 10px 0 0;">
                                                    </div>Simply search and choose from thousands of trades in your area
                                                </td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="font-size:16px; color:#606382; font-weight:normal; padding:0 0 20px 40px;">
                                                    <div
                                                        style="width:8px; height:8px; background:#606382; display:inline-block; border-radius:100px; margin:0 10px 0 0;">
                                                    </div>All trades are filtered through a th orough verification
                                                    process to give you peace of mind
                                                </td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="font-size:16px; color:#606382; font-weight:normal; padding:0 0 20px 40px;">
                                                    <div
                                                        style="width:8px; height:8px; background:#606382; display:inline-block; border-radius:100px; margin:0 10px 0 0;">
                                                    </div>Completely free which means no booking fees for you or your
                                                    trade
                                                </td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="font-size:16px; color:#606382; font-weight:normal; padding:0 0 20px 40px;">
                                                    <div
                                                        style="width:8px; height:8px; background:#606382; display:inline-block; border-radius:100px; margin:0 10px 0 0;">
                                                    </div>Easy communication stored in one place
                                                </td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="font-size:16px; color:#606382; font-weight:normal; padding:0 0 20px 40px;">
                                                    <div
                                                        style="width:8px; height:8px; background:#606382; display:inline-block; border-radius:100px; margin:0 10px 0 0;">
                                                    </div>Rate & review your trade once your job is complete
                                                </td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="font-size:16px; color:#606382; font-weight:normal; padding:0 0 20px 40px;">
                                                    <div
                                                        style="width:8px; height:8px; background:#606382; display:inline-block; border-radius:100px; margin:0 10px 0 0;">
                                                    </div>Once a job is complete, the trade automatically gets attached
                                                    to the property address making it easier than ever before to contact
                                                    and re-use your trusted trade.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="font-size:16px; color:#606382; font-weight:normal; padding:0 0 20px 40px;">
                                                    <div
                                                        style="width:8px; height:8px; background:#606382; display:inline-block; border-radius:100px; margin:0 10px 0 0;">
                                                    </div>Through these connections create your very own property file
                                                    saving all your trades under one roof
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding:25px;">
                                        <table
                                            style="width:100%; margin:0 auto; border:0; border-spacing:0; text-align:left;">
                                            <tr>
                                                <td
                                                    style="padding:0 0 30px;font-size:16px; color:#606382; font-weight:normal;">
                                                    <strong>Searching for your dream home ? </strong></td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="font-size:16px; color:#606382; font-weight:normal; padding:0 0 20px 40px;">
                                                    <div
                                                        style="width:8px; height:8px; background:#606382; display:inline-block; border-radius:100px; margin:0 10px 0 0;">
                                                    </div>Search for your Ownly property to buy or rent
                                                </td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="font-size:16px; color:#606382; font-weight:normal; padding:0 0 20px 40px;">
                                                    <div
                                                        style="width:8px; height:8px; background:#606382; display:inline-block; border-radius:100px; margin:0 10px 0 0;">
                                                    </div>Over 300,000 properties to choose from all powered by Domain
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding:25px;">
                                        <table
                                            style="width:100%; margin:0 auto; border:0; border-spacing:0; text-align:left;">
                                            <tr>
                                                <td
                                                    style="padding:0 0 30px;font-size:16px; color:#606382; font-weight:normal;">
                                                    <strong>Dream home not listed? We have something exciting in store
                                                        for you coming soon ... </strong></td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="font-size:16px; color:#606382; font-weight:normal; padding:0 0 20px 40px;">
                                                    <div
                                                        style="width:8px; height:8px; background:#606382; display:inline-block; border-radius:100px; margin:0 10px 0 0;">
                                                    </div>For the first time ever, get access to every single off-
                                                    market property in Australia!
                                                </td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="font-size:16px; color:#606382; font-weight:normal; padding:0 0 20px 40px;">
                                                    <div
                                                        style="width:8px; height:8px; background:#606382; display:inline-block; border-radius:100px; margin:0 10px 0 0;">
                                                    </div>Register you interest through our platform and whether you
                                                    wish to buy, rent or use for a short stay
                                                </td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="font-size:16px; color:#606382; font-weight:normal; padding:0 0 20px 40px;">
                                                    <div
                                                        style="width:8px; height:8px; background:#606382; display:inline-block; border-radius:100px; margin:0 10px 0 0;">
                                                    </div>As a property owner, you can view all expressions of interest
                                                    on your property and easily respond and communicate to interested
                                                    parties through our platform
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="color:#7C888D; font-size:15px; line-height:normal; padding-bottom:40px;">
                                        Click <a href="https://portal.ownly.com.au/"><b>here</b></a> to access your
                                        Ownly portal to view the progress of your Trade request and much much more..
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color:#7C888D; font-size:15px; line-height:normal; padding-bottom:40px;">
                                        If the above link does not work, type the following into your browser:
                                        <a>https://portal.ownly.com.au/#!/login</a></td>
                                </tr>
                                <tr>
                                    <td style="color:#7C888D; font-size:15px; line-height:normal;">Many thanks</td>
                                </tr>
                                <tr>
                                    <td style="color:#7C888D; font-size:15px; line-height:normal;">The team at Ownly
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>