<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Email </title>
</head>

<body>
    <table
        style="font-family:Roboto;max-width:800px;width:81%;border-radius:4px;margin:0 auto;border-spacing:0;background: #3b4856;display: block;">

        <tr>
            <td style="border:0;
                padding: 130px 0 180px 0px;
                background:#3b4856;
                border-spacing:0;
                text-align:center;
                background: url( 'https://portal.ownly.com.au/assets/images/img-001.jpg') no-repeat center 0;
                background-size:contain">

                <table
                    style="width:80%;margin-left:auto;margin-right:auto;border-spacing:0;border-radius:4px;background:#fff;border-radius:10px;border-spacing:0">

                    <tr>
                        <td style="padding:40px; text-align:left;">
                            <table style="width:100%; margin:0; border-spacing:0; border-spacing: 0;">
                                <tr>
                                    <td style="color:#7c888d; font-size:15px; line-height:normal; padding-bottom:20px;">
                                        Welcome to Ownly!
                                        <br>
                                        With changing times we now connect differently and Ownly has brought technology
                                        to trades. Great minds think alike and
                                        together we are creating a collaborative market within a competitive market.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color:#7c888d; font-size:15px; line-height:normal; padding-bottom:20px;">
                                        Founder and fellow tradie Asher, saw holes in the industry where tradie’s didn’t
                                        have the tools to best secure business
                                        and their futures. Ownly is the first digital platform of its kind to link
                                        trades to properties in the creation of a
                                        property fingerprint. This fingerprint lasts the entire lifetime of a property,
                                        even through multiple changes of
                                        ownership.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color:#7c888d; font-size:15px; line-height:normal; padding-bottom:20px;">
                                        Your Ownly profile is 90% complete simply by subscribing, the rest is now up to
                                        you and how you want to best represent
                                        your business as a brand. Remember first impressions count, create a profile
                                        that swipes in the right direction.
                                        Although we are bringing people together, this is your opportunity to set
                                        yourself apart. Upload photos of your best
                                        work and tell us more about your business.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color:#7c888d; font-size:15px; line-height:normal; padding-bottom:20px;">
                                        Start leaving your property fingerprint as the more fingerprints you have, the
                                        higher exposure you gain as the preferred trade in your selected area(s).
                                        Ownly has an option to instantly boost your profile if you have previous work
                                        that you’re proud of and want to upload an existing client list.
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color:#7c888d; font-size:15px; line-height:normal; padding-bottom:20px;">
                                        Your subscription is FREE indefinitely, building a house has never been quicker
                                        or easier. A property fingerprint is
                                        built to last a lifetime, ensure your business does too. Be part of Australia’s
                                        largest property portfolio,

                                    </td>
                                </tr>
                                <tr>
                                    <td style="color:#7c888d; font-size:15px; line-height:normal; padding-bottom:20px;">
                                        “This is the house that Ownly built”.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color:#7C888D; font-size:15px; line-height:normal;">Many thanks</td>
                                </tr>
                                <tr>
                                    <td style="color:#7C888D; font-size:15px; line-height:normal;">The team at Ownly
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>